In [6]:
import pandas as pd
import numpy as np #numpy
from numpy.random import randn as rn

In [7]:
rn(5,3)

array([[-0.67533601,  0.47566232, -0.10898476],
       [-0.99200032, -1.16988518,  0.13910307],
       [-0.60367728,  1.82255206, -1.04114849],
       [-0.01252492, -1.43106616, -1.62617551],
       [-0.21387395, -1.58758352,  1.47889856]])

In [8]:
np.random.seed(111111)
r=rn(4,3)
r

array([[-1.87832417,  1.36236745, -0.92586205],
       [ 0.06489352, -0.43757163,  1.73810748],
       [ 0.49120803,  0.16731625,  1.1298827 ],
       [-0.40266755,  0.07387628,  0.70418123]])

In [9]:
rdf=pd.DataFrame(r)

In [10]:
rdf

          0         1         2
0 -1.878324  1.362367 -0.925862
1  0.064894 -0.437572  1.738107
2  0.491208  0.167316  1.129883
3 -0.402668  0.073876  0.704181

In [11]:
row=["a","b","c","d"]
col=["x","y","z"]

In [12]:
rdf=pd.DataFrame(r,index=row,columns=col)

In [13]:
rdf

          x         y         z
a -1.878324  1.362367 -0.925862
b  0.064894 -0.437572  1.738107
c  0.491208  0.167316  1.129883
d -0.402668  0.073876  0.704181

In [14]:
rdf.loc[["a","d"],["x","y"]]

          x         y
a -1.878324  1.362367
d -0.402668  0.073876

In [15]:
rdf.iloc[[0,3],[0,1]]

          x         y
a -1.878324  1.362367
d -0.402668  0.073876

In [16]:
rdf.iloc[[0,3],[0,1]]

          x         y
a -1.878324  1.362367
d -0.402668  0.073876

In [17]:
rdf.iloc[0:3,0:2]

          x         y
a -1.878324  1.362367
b  0.064894 -0.437572
c  0.491208  0.167316

In [18]:
rdf

          x         y         z
a -1.878324  1.362367 -0.925862
b  0.064894 -0.437572  1.738107
c  0.491208  0.167316  1.129883
d -0.402668  0.073876  0.704181

In [19]:
rdf.iloc[0:2,0:2]

          x         y
a -1.878324  1.362367
b  0.064894 -0.437572

In [22]:
rdf.iloc[0:4,0:3]

          x         y         z
a -1.878324  1.362367 -0.925862
b  0.064894 -0.437572  1.738107
c  0.491208  0.167316  1.129883
d -0.402668  0.073876  0.704181

In [23]:
rdf.iloc[2:4,0:2]

          x         y
c  0.491208  0.167316
d -0.402668  0.073876

In [24]:
rdf

          x         y         z
a -1.878324  1.362367 -0.925862
b  0.064894 -0.437572  1.738107
c  0.491208  0.167316  1.129883
d -0.402668  0.073876  0.704181

In [25]:
rdf>1

       x      y      z
a  False   True  False
b  False  False   True
c  False  False   True
d  False  False  False

In [26]:
rdf.iloc[0:4,0:3]

          x         y         z
a -1.878324  1.362367 -0.925862
b  0.064894 -0.437572  1.738107
c  0.491208  0.167316  1.129883
d -0.402668  0.073876  0.704181

In [27]:
rdf[rdf.loc[["a","b"]]>1]

    x         y         z
a NaN  1.362367       NaN
b NaN       NaN  1.738107
c NaN       NaN       NaN
d NaN       NaN       NaN

In [28]:
rdf[(rdf["x"]>1)& (rdf["y"]>1)] # Multiple conditions

Empty DataFrame
Columns: [x, y, z]
Index: []

In [29]:
rdf

          x         y         z
a -1.878324  1.362367 -0.925862
b  0.064894 -0.437572  1.738107
c  0.491208  0.167316  1.129883
d -0.402668  0.073876  0.704181

In [30]:
rdf[(rdf["x"]>1)& (rdf["y"]>1)] # Multiple conditions

Empty DataFrame
Columns: [x, y, z]
Index: []

In [31]:
rdf[(rdf["x"]>1)|(rdf["y"]>1)]

          x         y         z
a -1.878324  1.362367 -0.925862

In [32]:
rdf.reset_index()

  index         x         y         z
0     a -1.878324  1.362367 -0.925862
1     b  0.064894 -0.437572  1.738107
2     c  0.491208  0.167316  1.129883
3     d -0.402668  0.073876  0.704181

In [33]:
rdf.reset_index(drop=True,inplace=True) # rdf=rdf.reset_index(drop=True)

In [34]:
rdf

          x         y         z
0 -1.878324  1.362367 -0.925862
1  0.064894 -0.437572  1.738107
2  0.491208  0.167316  1.129883
3 -0.402668  0.073876  0.704181

In [35]:
rdf=rdf.set_index("z") # rdf.set_index("z",inplace=True)

In [36]:
rdf

                  x         y
z
-0.925862 -1.878324  1.362367
 1.738107  0.064894 -0.437572
 1.129883  0.491208  0.167316
 0.704181 -0.402668  0.073876